---
---

<!-- <img src="lambda.png" alt="greek letter lambda" width="100px/" /> -->
<div class="text-center w-[100vw] h-[100vh] flex flex-col justify-center">
  <h1 class="text-7xl mb-10">404</h1>
  <p class="text-xl mb-20">
    Page not found. click <a href="/" class="text-blue-700 underline">here</a> to
    go back to the home page.
  </p>
</div>
