---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/Paragraph";
import Contact from "../components/Contact";
import Social from "../components/Social.astro";

const page_title = "About Me";
const paragraphs = [
  `I'm a passionate code addict, science lover, and math enthusiast. Data, computing, and engineering are some of my favorite things in the world. I am thrilled to witness the incredible potential of technology in helping others and creating services enjoyed by many.`,

  `Living in this era of abundant resources and endless opportunities, I am driven to accomplish great things. I embrace the challenges and discoveries that come my way, constantly pushing myself to learn and grow.`,
];
const socials = [
  { platform: "github", url: "https://github.com/ComputationTime" },
  { platform: "facebook", url: "https://m.facebook.com/andre.fortes.505" },
  { platform: "instagram", url: "https://www.instagram.com/fortes.m.andre/" },
  {
    platform: "linkedin",
    url: "https://www.linkedin.com/in/andre-mello-tech/",
  },
];
---

<Layout page_title={page_title}>
  <img
    src="/AndreAlberta.jpeg"
    alt="Andre"
    class="w-[280px] sm:w-[400px] md:w-[500px] lg:w-[600px] xl:[800px] mx-auto my-20 border-black border-2"
  />
  <h2 class="text-center text-3xl my-10 font-mono">
    <Paragraph client:load paragraph={"Hi, I'm Andre"} speed={10} />
  </h2>
  <div
    class="w-[280px] sm:w-[580px] md:w-[700px] lg:w-[900px] mx-auto leading-10 text-md sm:text-xl sm:text-justify mb-20"
  >
    {paragraphs.map((paragraph) => <p class="indent-10 mb-2">{paragraph}</p>)}
    <div class="flex flex-row justify-center mt-8">
      {
        socials.map((social) => (
          <Social url={social.url} platform={social.platform} width="30px" />
        ))
      }
    </div>

    <div class="text-center">
      <a
        href="/Resume.pdf"
        target="_blank"
        class="inline-block my-2 underline underline-offset-[9px] decoration-[1.5px] transition-all decoration-transparent hover:decoration-black hover:scale-105 duration-300 py-10 text-3xl font-mono font-thin"
      >
        Resume
      </a>
    </div>

    <p
      class="text-center text-xl font-medium p-5 mb-20 mt-5 border-2 border-black bg-gray-100 rounded-3xl"
    >
      Text is great, but I think a better way to show who I am and what I value
      is to give you a list of who I admire and what I strive to be. Here are
      some of my <a
        href="/heros/"
        class="text-blue-500 underline inline-block hover:scale-105 transition-transform"
        >Personal Heros</a
      >
    </p>
    <Contact client:load />
  </div>
</Layout>
