---
import { createSignal } from "solid-js";
import Layout from "../layouts/Layout.astro";
import TypeWrite from "../scripts/typeWrite";
import typeWrite from "../scripts/typeWrite";
import Paragraph from "../components/Paragraph";

const page_title = "About Me";
const paragraphs = [
  `I'm a code addict, a science lover, and a math enthusiast. 
  Data, computing, and engineering are some of my favorite things in the world. 
  Technology has an incredible potential to help others and create sevices enjoyed
  by many. I'm happy to live today when we have so many resources and so much yet to
  accomplish.`,
];
---

<Layout page_title={page_title}>
  <img
    src="/lambda.png"
    alt="Andre"
    class="mx-auto border-2 border-black my-10"
  />
  <h2 class="text-center text-3xl my-10 font-mono">
    <Paragraph client:load paragraph={"Hi, I'm Andre"} speed={10} />
  </h2>
  <div
    class="w-[280px] sm:w-[580px] md:w-[700px] lg:w-[900px] xl:[1000px] mx-auto mb-28 leading-10 text-xl text-justify"
  >
    {paragraphs.map((paragraph) => <p>{paragraph}</p>)}

    <p class="text-center text-xl font-medium my-12">
      Text is great, but I think a better way to show who I am and what I value
      is to give you a list of who I admire and what I strive to be. Here are
      some of my <a href="#" class="text-blue-500 underline">Personal Heros</a>
    </p>

    <!-- 
    Humboldt https://storymaps.esri.com/stories/2016/humboldt/index.html
    Tesla
        Noether https://jwa.org/encyclopedia/article/noether-emmy
        von Neumann
        Erdős
        Galois
        Hilbert?
        Riemann?
        Annie Cannon
        Leavitt
        Lavosier
        Sommerfeld
        Quantum?
        Bragg

      -->
  </div>
</Layout>
