---
import Greeting from "../components/Greeting";
import Layout from "../layouts/Layout.astro";

const page_title = "Home";
---

<Layout page_title={page_title}>
  <h2>Index for my website</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</Layout>
