---
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
// import Hamburger from "../components/Hamburger.astro";
---

<header>
  <nav>
    <!-- <Hamburger /> -->
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
