---
import Header from "../components/Header.astro";

const page_title = Astro.props.page_title;
---

<html lang="en">
  <head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <!-- end Fonts -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/lambda.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{page_title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
